.orangeCurve {
    width: 100%;
}

.aboutPics {
    margin: 0 var(--margin-from-screen);
}

.aboutPics h1 {
    margin: 0;
}

.aboutBottomHalf h1 {
    font-family: 'Brother Bold';
    color: #FF9C03;
}

.people {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridImage {
    display: flex;
    clip-path: circle();
    max-width: 100%;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.name img {
    width: 20px;
    height: 20px;
}

.name a {
    height: 20px;
}

@media screen and (max-width: 768px) {
    .people {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 30px;
    }
}

@media screen and (max-width: 425px) {
    .people {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}