.faqBox {
    background: #FFE9C7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 3%;
}

.faqBox:hover {
    filter: brightness(95%);
}

.faqHeader {
    width: 100%;
    display: grid;
    grid-template-columns: 90fr 10fr;
}

.faqImageContainer {
    position: relative;
}

.faqQuestion {
    font-weight: bold;
    font-size: x-large;
}

@media screen and (max-width: 870px) {
    .faqQuestion {
        font-weight: bold;
        font-size: large;
    }
}

.faqAnswer {
    white-space: pre-wrap;
}

.faqPlus {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 20px;
    height: 20px;
}

.faqAnswerContainer {
    width: 90%;
}

.faqTitle {
    color: #FF9C03;
    font-size: 70px;
    margin-top: 0%;
}

.allFaqs {
    padding: 10px var(--margin-from-screen);
}

.orangeCurve {
    max-height: 400px;
    width: 100%;
}
