.addMargin {
    margin: 140px var(--margin-from-screen);
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.blueText {
    color:#2D5DED;
}

.experienceText {
  color: #74A1FF;
}

.forText {
  color: #F9C915;
}

.allText {
  color: #5BBC88;
}

.forAllText {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin: 26px 0;
}

.orangeText {
    color:#FF9C03;
}

.cover {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 20px;
    align-items: center;
}

.coverLeft h1 {
    font-family: 'Alata Regular';
    margin: -20px 0;
    font-size: 40px;
}

.coverLeft h2 {
    font-size: 20px;
    opacity: 0.9;
}

.coverRight img {
    max-width: 300px;
    padding-top: 10px;
    user-select: none;
}

.fullform {
    background-color: #22114F;
    padding: 40px;
    width: 70%;
    border-radius: 20px;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input, .form textarea {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-family: 'Alata Regular';
    font-size: 18px;
}

.form textarea {
    height: 200px;
}

.form input::placeholder, .form textarea::placeholder {
    font-family: 'Alata Regular';
    opacity: 0.7;
    user-select: none;
}

.submit {
    background-color: #4DB6AC;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Alata Regular';
    cursor: pointer;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    width: 210px;
    font-size: 25px;
    margin-top: 30px;
}

.submit:hover {
    box-shadow: 210px 0px 0px white inset;
    color: #4DB6AC;
}

@media screen and (max-width: 768px) {
    .addMargin {
        flex-direction: column;
        gap: 30px;
    }

    .cover {
        width: 100%;
    }

    .cover h2 {
        font-size: 18px;
    }

    .coverRight {
        display: none;
    }

    .fullform {
        width: 100%;
        padding: 30px;
    }
}