.cover {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px var(--margin-from-screen);
    justify-content: space-between;
}

.coverLeft {
    max-width: 500px;
}

.coverLeft h1 {
    font-family: 'Brother Bold';
    width: fit-content;
    text-decoration: underline;
    text-decoration-color: #FF9C03;
    text-decoration-thickness: 4px;
}

.coverRight {
    max-width: 500px;
    animation: shake 2s infinite;
}

.coverRight img {
    width: 100%;
}

@keyframes shake{
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.getInvolvedButton {
    background-color: #FF9C03;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Brother Bold';
    font-size: 20px;
    cursor: pointer;
}

.bluesection {
    display: flex;
    flex-direction: column;
}

.bluesection img {
    width: 100%;
}

.bluebackground {
    background-color: #2D5DED;
}

.blue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px var(--margin-from-screen);
    gap: 20px;
}

.blue img {
    max-width: 400px;
}

.bluetext {
    max-width: 600px;
}

.bluetext h1 {
    font-family: 'Brother Bold';
    color: #F9C12C;
}

.bluetext h3 {
    color: white;
}

.aboutProjects {
    display: flex;
    flex-direction: row;
    padding: 50px var(--margin-from-screen);
    justify-content: center;
    gap: 200px;
    margin: 0px 100px;
}

.aboutProjects h1 {
    font-family: 'Brother Bold';
    color: #2D5DED;
}

.aboutProjects h3 {
    max-width: 400px;
}

.aboutProjects img {
    width: 100%;
    height: 100%;
    max-width: 350px;
}

.aboutCommunity {
    display: flex;
    flex-direction: row;
    padding: 50px var(--margin-from-screen);
    justify-content: center;
    gap: 200px;
    margin: 0px 100px;
    
}

.aboutCommunity h1 {
    font-family: 'Brother Bold';
    color:#FA751E;
}

.aboutCommunity h3 {
    max-width: 400px;
}

.aboutCommunity img {
    width: 100%;
    height: 100%;
    max-width: 400px;
}

.joinUs {
    display: flex;
    padding: 10px var(--margin-from-screen);
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}


.joinUsText {
    display: flex;
    flex-direction: column;
}

.joinUsText h1 {
    display: flex;
    font-family: 'Brother Bold';
    font-size: 60px;
}

.joinUsText h3 {
    display: flex;
    font-size: 20px;
    max-width: 800px;
    margin-top: -20px;
}

.joinUsRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.getInvolvedButton {
    min-width: 200px;
    font-size: 25px;
}

@media screen and (max-width: 870px) {
    .cover {
        flex-direction: column;
        gap: 50px;
    }

    .blue {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .aboutCommunity {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .aboutProjects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .joinUs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .joinUsText {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 40px;
    }
}