.cover {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px var(--margin-from-screen);
    justify-content: space-between;
}

.coverLeft {
    max-width: 500px;
}

.coverLeft h1 {
    font-family: 'Brother Bold';
    width: fit-content;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift 1s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23FF9C03' stroke-width='3' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}

.coverRight img {
    width: 500px;
    animation: shake 2s infinite;
}

@keyframes shake{
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.getInvolvedButton {
    background-color: #FF9C03;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Brother Bold';
    font-size: 20px;
    cursor: pointer;
}