.container {
    display: flex;
    /* flex-direction: row; */
  }
  
.sidebar {
    width: 25%;
    padding: 20px;
    top: 0;
    text-align: center;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}

.mainContent {
    width: 75%;
    margin: 70px 20px;
    max-width: 1000px;
}

.mainContent img {
    width: 100%;
    height: auto;
}

pre {
    background-color: #55477b;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        box-sizing: border-box;
        padding: 40px 16px 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 12px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: -30px;
    }

    .mainContent {
        box-sizing: border-box;
        width: 100%;
        max-height: fit-content;
        overflow: visible;
        margin: 0;
        padding: 20px;
    }
}

.bold {
    font-style: italic;
    color: #22114F;
}