.container {
    position: relative;
    min-width: 0;
    user-select: none;
}
  
.button {
    background-color: #22114F;
    width: 170px;
    min-height: 40px;
    height: auto;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease;
    position: relative;
    text-align: left;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
    padding: 8px 30px 8px 12px;
}

.button:hover {
    background-color: #3b276e;
}

.triangle-shape {
    position: absolute;
    top: 20px;
    right: 12px;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid white;
    transition: all 0.3s ease;
}

.rotate {
    transform: translate(-50%, -50%) rotate(90deg);
}

.content {
    padding: 10px;
    padding-top: 0;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease;
    font-family: 'Alata Regular';
    font-size: 16px;
    color: #a38dd9;
    cursor: pointer;
}

.expand {
    max-height: 1000px;
}      

.label {
    display: block;
    font-family: 'Alata Regular';
    font-size: 16px;
    margin: 0;
    padding-right: 6px;
    line-height: 1.2;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: -5px 0;
    }
    .button {
        width: 100%;
        min-width: 0;
    }
    .label {
        font-size: 14px;
    }
    .content {
        font-size: 14px;
    }
}