.container {
    display: flex;
    flex-direction: row;
  }
  
.sidebar {
    width: 25%;
    padding: 20px;
    position: sticky;
    top: 0;
    text-align: center;
    padding-top: 150px;
}

.mainContent {
    width: 75%;
    padding: 20px;
    max-width: 1000px;
}

.mainContent img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .mainContent {
        width: 100%;
    }
}