html, body {
  margin: 0;
  font-family: 'Alata Regular';
  background-color: #FFFDF8;
  letter-spacing: 0;
  overflow-x: hidden;
}

.limitWidth {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --margin-from-screen: 30px;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('./fonts/brother\ regular.otf');
}

@font-face {
  font-family: 'Brother Medium';
  src: url('./fonts/brother\ medium.otf');
}

@font-face {
  font-family: 'Brother Medium Italic';
  src: url('./fonts/brother\ medium\ italic.otf');
}

@font-face {
  font-family: 'Brother Light Italic';
  src: url('./fonts/brother\ light\ italic.otf');
}

@font-face {
  font-family: 'Brother Bold';
  src: url('./fonts/brother\ bold.otf');
}

@font-face {
  font-family: 'Alata Regular';
  src: url('./fonts/alata_regular.ttf');
}

@font-face {
  font-family: 'ABeeZee Regular';
  src: url('./fonts/abeezee_regular.ttf');
}

@font-face {
  font-family: 'ABeeZee Italic';
  src: url('./fonts/abeezee_italic.ttf');
}

@font-face {
  font-family: 'ADLaM Display Regular';
  src: url('./fonts/adlamdisplay_regular.ttf');
}

pre {
  background-color: #f8f8f8;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.5;
  overflow: auto;
  padding: 16px;
}

code {
  font-family: Consolas, monospace;
}

html, body {
  margin: 0;
  min-height: 100%;
  color: white;
  background: transparent;
}

body {
  background: black;
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center top;
  background-size: 100% 100%, 100% 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 1;
  z-index: -1;
  background: url('images/background.svg') no-repeat center top;
  background-size: cover;
}