html, body {
  margin: 0;
  font-family: 'Brother Medium';
  background-color: #FFFDF8;
  letter-spacing: 0;
}

.limitWidth {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --margin-from-screen: 30px;
}

@font-face {
  font-family: 'Brother 1816';
  src: url('./fonts/brother\ regular.otf');
}

@font-face {
  font-family: 'Brother Medium';
  src: url('./fonts/brother\ medium.otf');
}

@font-face {
  font-family: 'Brother Medium Italic';
  src: url('./fonts/brother\ medium\ italic.otf');
}

@font-face {
  font-family: 'Brother Light Italic';
  src: url('./fonts/brother\ light\ italic.otf');
}

@font-face {
  font-family: 'Brother Bold';
  src: url('./fonts/brother\ bold.otf');
}

pre {
  background-color: #f8f8f8;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.5;
  overflow: auto;
  padding: 16px;
}

code {
  font-family: Consolas, monospace;
}

html, body {
  margin: 0;
  min-height: 100%;
  color: white;
  background: transparent;
}

body {
  background-image:
    linear-gradient(
      156.33deg,
      #7050C2 18%,
      #1B2D29 50%,
      #1B2D29 86%
    ),
    linear-gradient(
      156.33deg,
      #0E111C 5.55%,
      #040713 18.86%,
      rgba(15, 77, 52, 0.2) 54.35%,
      rgba(4, 7, 19, 0.6) 67.01%,
      #0A0F2C 78.41%
    );
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center top;
  background-size: 100% 100%, 100% 100%;
  background-blend-mode: multiply;
}